// Profile links layout
.layout-single-column,
.layout-multiple-columns {
  // Truncate too long links in the profile, like Nostr
  ._comp_account_header__bioButtonsWrapper ._comp_account_header__fieldList span > a:only-of-type {
    display: block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ._comp_account_header__bioButtonsWrapper ._comp_account_header__fieldList dt {
    order: 1;
  }

  ._comp_account_header__bioButtonsWrapper ._comp_account_header__fieldList dd {
    order: 2;
  }
}
